# Flask Configuration
FLASK_ENV=production
SECRET_KEY=your-secret-key-here-generate-with-secrets-token-urlsafe-32
JWT_SECRET_KEY=your-jwt-secret-key-here-generate-with-secrets-token-urlsafe-32

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Chet@786

# Database
DATABASE_URL=sqlite:///portfolio.db



# GitHub (Optional)
GITHUB_TOKEN=your-github-token-here

# Port
PORT=5001
